# -------------------------------
# Python相关
# -------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
venv/
ENV/
env/
*.egg-info/
dist/
build/

# -------------------------------
# PyCharm / IDE
# -------------------------------
.idea/
*.iml
.vscode/

# -------------------------------
# 数据集目录
# 忽略 data 下所有文件
# -------------------------------
/data/*

# 保留空目录用的占位文件
!/data/.gitkeep

# -------------------------------
# 可根据需要忽略的其他目录
# -------------------------------
/data/dataset/*
/runs/*