# -------------------------------
# Python相关
# -------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
venv/
ENV/
env/
*.egg-info/
dist/
build/

# -------------------------------
# PyCharm / IDE
# -------------------------------
.idea/
*.iml
.vscode/

# -------------------------------
# 忽略数据集目录
# -------------------------------
/data/*
/raw_data/*
/datasets/*

# 保留空目录用的占位文件
!/data/.gitkeep
